<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		

	<key>1118</key>
	<dict>
		<key>654:Wireless</key>
		<dict>
			<key>Name</key>
			<string>XBOX Controllers (All flavours, using 360Controller driver)</string>
			<key>RumbleClass</key>
			<string>ForceFeedback library</string>
			<key>OverrideStickMax</key>
			<integer>36000</integer>
			<key>OverrideStickMin</key>
			<integer>-36000</integer>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:51</key>
			<integer>2</integer>
			<key>1:52</key>
			<integer>3</integer>
			<key>1:50</key>
			<integer>4</integer>
			<key>1:53</key>
			<integer>5</integer>
			<key>9:12</key>
			<integer>1</integer>
			<key>9:13</key>
			<integer>2</integer>
			<key>9:14</key>
			<integer>4</integer>
			<key>9:15</key>
			<integer>8</integer>
			<key>9:1</key>
			<integer>22</integer>
			<key>9:2</key>
			<integer>23</integer>
			<key>9:3</key>
			<integer>24</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<integer>18</integer>
			<key>9:8</key>
			<integer>19</integer>
			<key>9:9</key>
			<integer>16</integer>
			<key>9:10</key>
			<integer>17</integer>
			<key>9:11</key>
			<integer>16</integer>
		</dict>




		<key>654:USB</key>
		<dict>
			<key>Name</key>
			<string>XBOX Controllers (All flavours, using 360Controller driver)</string>
			<key>RumbleClass</key>
			<string>ForceFeedback library</string>
			<key>OverrideStickMax</key>
			<integer>36000</integer>
			<key>OverrideStickMin</key>
			<integer>-36000</integer>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>4</integer>
			<key>1:51</key>
			<integer>2</integer>
			<key>1:52</key>
			<integer>3</integer>
			<key>1:53</key>
			<integer>5</integer>
			<key>9:12</key>
			<integer>1</integer>
			<key>9:13</key>
			<integer>2</integer>
			<key>9:14</key>
			<integer>4</integer>
			<key>9:15</key>
			<integer>8</integer>
			<key>9:1</key>
			<integer>22</integer>
			<key>9:2</key>
			<integer>23</integer>
			<key>9:3</key>
			<integer>24</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<integer>18</integer>
			<key>9:8</key>
			<integer>19</integer>
			<key>9:9</key>
			<integer>16</integer>
			<key>9:10</key>
			<integer>17</integer>
			<key>9:11</key>
			<integer>16</integer>
		</dict>
		<key>654</key>
		<dict>
			<key>Name</key>
			<string>XBOX Controllers (All flavours, using 360Controller driver)</string>
			<key>RumbleClass</key>
			<string>ForceFeedback library</string>
			<key>OverrideStickMax</key>
			<integer>36000</integer>
			<key>OverrideStickMin</key>
			<integer>-36000</integer>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:51</key>
			<integer>2</integer>
			<key>1:52</key>
			<integer>3</integer>
			<key>1:50</key>
			<integer>4</integer>
			<key>1:53</key>
			<integer>5</integer>
			<key>9:12</key>
			<integer>1</integer>
			<key>9:13</key>
			<integer>2</integer>
			<key>9:14</key>
			<integer>4</integer>
			<key>9:15</key>
			<integer>8</integer>
			<key>9:1</key>
			<integer>22</integer>
			<key>9:2</key>
			<integer>23</integer>
			<key>9:3</key>
			<integer>24</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<integer>18</integer>
			<key>9:8</key>
			<integer>19</integer>
			<key>9:9</key>
			<integer>16</integer>
			<key>9:10</key>
			<integer>17</integer>
			<key>9:11</key>
			<integer>16</integer>
		</dict>

		<key>649:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>648:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>645:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>514:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>647:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>721:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>733:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>746:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>765:Bluetooth</key>
		<dict>
			<key>RumbleClass</key>
			<string>RumbleXBoneBT</string>
			<key>OverrideStickMin</key>
			<integer>-36000</integer>
			<key>OverrideStickMax</key>
			<integer>36000</integer>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>2:197</key>
			<integer>4</integer>
			<key>2:196</key>
			<integer>5</integer>
			<key>9:2</key>
			<integer>23</integer>
			<key>9:1</key>
			<integer>22</integer>
			<key>9:4</key>
			<integer>24</integer>
			<key>9:5</key>
			<integer>25</integer>
			<key>9:12</key>
			<integer>16</integer>
			<key>9:14</key>
			<integer>18</integer>
			<key>9:15</key>
			<integer>19</integer>
			<key>9:7</key>
			<integer>20</integer>
			<key>9:8</key>
			<integer>21</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>270</integer>
			<key>1:57:2</key>
			<integer>180</integer>
			<key>1:57:3</key>
			<integer>90</integer>
			<key>1:57:4</key>
			<integer>315</integer>
			<key>1:57:5</key>
			<integer>135</integer>
			<key>1:57:6</key>
			<integer>-45</integer>
			<key>12:548</key>
			<integer>17</integer>

			<key>9:11</key>
			<integer>17</integer>

		</dict>

		<key>2848:Bluetooth Low Energy</key>
		<dict>
			<key>Redirect</key>
			<string>1118:765:Bluetooth</string>
		</dict>
		
	</dict>
	<key>3727</key>
	<dict>
		<key>18:USB</key>
		<dict>
			<key>Name</key>
			<string>Acme GA-02</string>
			<key>RumbleClass</key>
			<string>RumbleGreenAsia</string>
			<key>1:53</key>
			<integer>2</integer>
			<key>1:50</key>
			<integer>3</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>270</integer>
			<key>1:57:2</key>
			<integer>180</integer>
			<key>1:57:3</key>
			<integer>90</integer>
			<key>1:57:4</key>
			<integer>315</integer>
			<key>1:57:5</key>
			<integer>135</integer>
			<key>1:57:6</key>
			<integer>675</integer>
			<key>9:1</key>
			<integer>22</integer>
			<key>9:2</key>
			<integer>23</integer>
			<key>9:3</key>
			<integer>24</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>32</integer>
			<key>9:7</key>
			<integer>21</integer>
			<key>9:8</key>
			<integer>33</integer>
			<key>9:9</key>
			<integer>17</integer>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>1133</key>
	<dict>
		<key>49688:USB</key>
		<dict>
			<key>Name</key>
			<string>Logitech RumblePad2 </string>
			<key>RumbleClass</key>
			<string>RumbleLg2</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>270</integer>
			<key>1:57:2</key>
			<integer>180</integer>
			<key>1:57:3</key>
			<integer>90</integer>
			<key>1:57:4</key>
			<integer>315</integer>
			<key>1:57:5</key>
			<integer>135</integer>
			<key>1:57:6</key>
			<integer>360</integer>
			<key>9:1</key>
			<integer>24</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>23</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<integer>32</integer>
			<key>9:8</key>
			<integer>33</integer>
			<key>9:9</key>
			<integer>17</integer>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
		</dict>
		<key>49686:USB</key>
		<dict>
			<key>Name</key>
			<string>Logitech Dual Action </string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>270</integer>
			<key>1:57:2</key>
			<integer>180</integer>
			<key>1:57:3</key>
			<integer>90</integer>
			<key>1:57:4</key>
			<integer>315</integer>
			<key>1:57:5</key>
			<integer>135</integer>
			<key>1:57:6</key>
			<integer>360</integer>
			<key>9:1</key>
			<integer>24</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>23</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<integer>32</integer>
			<key>9:8</key>
			<integer>33</integer>
			<key>9:9</key>
			<integer>17</integer>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
		</dict>
		<key>49695:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>49694:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>49693:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>62209:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>1356</key>
	<dict>
		<key>616:USB</key>
		<dict>
			<key>RumbleClass</key>
			<string>RumbleSixaxis</string>
			<key>1:67</key>
			<string>Acceleration X</string>
			<key>1:68</key>
			<string>Acceleration Y</string>
			<key>1:69</key>
			<string>Acceleration Z</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>Name</key>
			<string>PLAYSTATION(R)3 Controller</string>
			<key>9:1</key>
			<integer>17</integer>
			<key>9:2</key>
			<integer>18</integer>
			<key>9:3</key>
			<integer>19</integer>
			<key>9:4</key>
			<integer>16</integer>
			<key>9:5</key>
			<integer>1</integer>
			<key>9:6</key>
			<integer>8</integer>
			<key>9:7</key>
			<integer>2</integer>
			<key>9:8</key>
			<integer>4</integer>
			<key>9:9</key>
			<integer>32</integer>
			<key>9:10</key>
			<integer>33</integer>
			<key>C39</key>
			<integer>4</integer>
			<key>C40</key>
			<integer>5</integer>
			<key>9:11</key>
			<integer>20</integer>
			<key>9:12</key>
			<integer>21</integer>
			<key>9:13</key>
			<integer>25</integer>
			<key>9:14</key>
			<integer>23</integer>
			<key>9:15</key>
			<integer>22</integer>
			<key>9:16</key>
			<integer>24</integer>
			<key>9:17</key>
			<string>PS Button</string>
		</dict>
		<key>616:Bluetooth</key>
		<dict>
			<key>RumbleClass</key>
			<string>RumbleSixaxis</string>
			<key>1:67</key>
			<string>Acceleration X</string>
			<key>1:68</key>
			<string>Acceleration Y</string>
			<key>1:69</key>
			<string>Acceleration Z</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>Name</key>
			<string>PLAYSTATION(R)3 Controller</string>
			<key>9:1</key>
			<integer>17</integer>
			<key>9:2</key>
			<integer>18</integer>
			<key>9:3</key>
			<integer>19</integer>
			<key>9:4</key>
			<integer>16</integer>
			<key>9:5</key>
			<integer>1</integer>
			<key>9:6</key>
			<integer>8</integer>
			<key>9:7</key>
			<integer>2</integer>
			<key>9:8</key>
			<integer>4</integer>
			<key>9:9</key>
			<integer>32</integer>
			<key>9:10</key>
			<integer>33</integer>
			<key>C39</key>
			<integer>4</integer>
			<key>C40</key>
			<integer>5</integer>
			<key>9:11</key>
			<integer>20</integer>
			<key>9:12</key>
			<integer>21</integer>
			<key>9:13</key>
			<integer>25</integer>
			<key>9:14</key>
			<integer>23</integer>
			<key>9:15</key>
			<integer>22</integer>
			<key>9:16</key>
			<integer>24</integer>
			<key>9:17</key>
			<string>PS Button</string>
		</dict>
		<key>1476:USB</key>
		<dict>
			<key>RumbleClass</key>
			<string>RumblePS4</string>
			<key>1:51</key>
			<integer>4</integer>
			<key>1:52</key>
			<integer>5</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>270</integer>
			<key>1:57:2</key>
			<integer>180</integer>
			<key>1:57:3</key>
			<integer>90</integer>
			<key>1:57:4</key>
			<integer>315</integer>
			<key>1:57:5</key>
			<integer>135</integer>
			<key>1:57:6</key>
			<integer>360</integer>
			<key>1:67</key>
			<string>Acceleration X</string>
			<key>1:68</key>
			<string>Acceleration Y</string>
			<key>1:69</key>
			<string>Acceleration Z</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>Name</key>
			<string>PLAYSTATION(R)4 Controller</string>
			<key>9:1</key>
			<integer>24</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>23</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<string>Not used</string>
			<key>9:8</key>
			<string>Not used</string>
			<key>9:9</key>
			<string>Share Button</string>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
			<key>9:13</key>
			<string>PS Button</string>
			<key>9:14</key>
			<integer>17</integer>
		</dict>
		<key>2508:USB</key>
		<dict>
			<key>RumbleClass</key>
			<string>RumblePS4</string>
			<key>1:51</key>
			<integer>4</integer>
			<key>1:52</key>
			<integer>5</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>270</integer>
			<key>1:57:2</key>
			<integer>180</integer>
			<key>1:57:3</key>
			<integer>90</integer>
			<key>1:57:4</key>
			<integer>315</integer>
			<key>1:57:5</key>
			<integer>135</integer>
			<key>1:57:6</key>
			<integer>360</integer>
			<key>1:67</key>
			<string>Acceleration X</string>
			<key>1:68</key>
			<string>Acceleration Y</string>
			<key>1:69</key>
			<string>Acceleration Z</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>Name</key>
			<string>PLAYSTATION(R)4 Controller</string>
			<key>9:1</key>
			<integer>24</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>23</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<string>Not used</string>
			<key>9:8</key>
			<string>Not used</string>
			<key>9:9</key>
			<string>Share Button</string>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
			<key>9:13</key>
			<string>PS Button</string>
			<key>9:14</key>
			<integer>17</integer>
		</dict>
		<key>1476:Bluetooth</key>
		<dict>
			<key>1:51</key>
			<integer>4</integer>
			<key>1:52</key>
			<integer>5</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>6</integer>
			<key>1:57:2</key>
			<integer>4</integer>
			<key>1:57:3</key>
			<integer>2</integer>
			<key>1:57:4</key>
			<integer>7</integer>
			<key>1:57:5</key>
			<integer>3</integer>
			<key>1:57:6</key>
			<integer>8</integer>
			<key>1:67</key>
			<string>Acceleration X</string>
			<key>1:68</key>
			<string>Acceleration Y</string>
			<key>1:69</key>
			<string>Acceleration Z</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>Name</key>
			<string>PLAYSTATION(R)4 Controller</string>
			<key>9:1</key>
			<integer>24</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>23</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<string>Not used</string>
			<key>9:8</key>
			<string>Not used</string>
			<key>9:9</key>
			<string>Share Button</string>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
			<key>9:13</key>
			<string>PS Button</string>
			<key>9:14</key>
			<integer>17</integer>
		</dict>
		<key>2508:Bluetooth</key>
		<dict>
			<key>1:51</key>
			<integer>4</integer>
			<key>1:52</key>
			<integer>5</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>6</integer>
			<key>1:57:2</key>
			<integer>4</integer>
			<key>1:57:3</key>
			<integer>2</integer>
			<key>1:57:4</key>
			<integer>7</integer>
			<key>1:57:5</key>
			<integer>3</integer>
			<key>1:57:6</key>
			<integer>8</integer>
			<key>1:67</key>
			<string>Acceleration X</string>
			<key>1:68</key>
			<string>Acceleration Y</string>
			<key>1:69</key>
			<string>Acceleration Z</string>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:50</key>
			<integer>2</integer>
			<key>1:53</key>
			<integer>3</integer>
			<key>Name</key>
			<string>PLAYSTATION(R)4 Controller</string>
			<key>9:1</key>
			<integer>24</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>23</integer>
			<key>9:4</key>
			<integer>25</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<string>Not used</string>
			<key>9:8</key>
			<string>Not used</string>
			<key>9:9</key>
			<string>Share Button</string>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
			<key>9:13</key>
			<string>PS Button</string>
			<key>9:14</key>
			<integer>17</integer>
		</dict>
		<key>Name</key>
		<string>Sony</string>
	</dict>
	<key>4779</key>
	<dict>
		<key>4:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>770:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>5168</key>
	<dict>
		<key>18248:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63489:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>4544</key>
	<dict>
		<key>21766:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>1103</key>
	<dict>
		<key>45862:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>5769</key>
	<dict>
		<key>1:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>64769:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>64768:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>65024:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>5678</key>
	<dict>
		<key>48879:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>7085</key>
	<dict>
		<key>2:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>3:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>304:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63745:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>62723:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>62725:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>62721:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>62722:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>21760:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>64001:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61475:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61497:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61465:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61479:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61486:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61498:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61503:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61568:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63746:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61642:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61462:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63744:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63747:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63748:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>62724:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>64769:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>64768:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61480:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61496:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>61501:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63750:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>9414</key>
	<dict>
		<key>21773:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>21274:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>21248:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>21530:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>21546:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>23812:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>23298:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>21258:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>5227</key>
	<dict>
		<key>1537:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>65535</key>
	<dict>
		<key>65535:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>3853</key>
	<dict>
		<key>10:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>12:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>13:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>22:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>99:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>5604</key>
	<dict>
		<key>16144:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>16138:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>16128:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>1848</key>
	<dict>
		<key>18264:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>46904:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>18198:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>18230:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>39025:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>18214:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>48879:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>18216:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>18200:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>18232:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>63288:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>51970:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>3695</key>
	<dict>
		<key>1043:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>1025:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>769:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>275:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>531:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>327:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>287:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>543:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>326:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
		<key>513:USB</key>
		<dict>
			<key>Redirect</key>
			<string>1118:654:USB</string>
		</dict>
	</dict>
	<key>1406</key>
	<dict>
		<key>8201:Bluetooth</key>
		<dict>
			<key>RumbleClass</key>
			<string>RumbleSwitchPro</string>
			<key>OverrideStickMin</key>
			<integer>-55000</integer>
			<key>OverrideStickMax</key>
			<integer>55000</integer>
			<key>1:57</key>
			<integer>15</integer>
			<key>1:57:0</key>
			<integer>0</integer>
			<key>1:57:1</key>
			<integer>6</integer>
			<key>1:57:2</key>
			<integer>4</integer>
			<key>1:57:3</key>
			<integer>2</integer>
			<key>1:57:4</key>
			<integer>7</integer>
			<key>1:57:5</key>
			<integer>3</integer>
			<key>1:57:6</key>
			<integer>8</integer>
			<key>1:48</key>
			<integer>0</integer>
			<key>1:49</key>
			<integer>1</integer>
			<key>1:51</key>
			<integer>2</integer>
			<key>1:52</key>
			<integer>3</integer>
			<key>Name</key>
			<string>Switch Pro Controller</string>
			<key>9:1</key>
			<integer>23</integer>
			<key>9:2</key>
			<integer>22</integer>
			<key>9:3</key>
			<integer>25</integer>
			<key>9:4</key>
			<integer>24</integer>
			<key>9:5</key>
			<integer>20</integer>
			<key>9:6</key>
			<integer>21</integer>
			<key>9:7</key>
			<integer>32</integer>
			<key>9:8</key>
			<integer>33</integer>
			<key>9:9</key>
			<string>Share Button</string>
			<key>9:10</key>
			<integer>16</integer>
			<key>9:11</key>
			<integer>18</integer>
			<key>9:12</key>
			<integer>19</integer>
			<key>9:13</key>
			<string>PS Button</string>
			<key>9:14</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
